<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"><!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

 	<link rel="stylesheet"  href="static/bootstrap-formhelper.css">
 	<link rel="stylesheet"  href="static/style.css">
 	<title>Homework 5</title>

</head>
<body>
  <header>
    <nav>
      <a href='/login'>{{ title }}</a>
    </nav>
  </header>
  <p>{{ error }}</p>

{% block content %}
<form method="post" action="/login">
  <fieldset>
    <label for="username" class="text">Username:
    <input type="text" class="form-control" name="username" id="username"/></label>
    <label for="password" class="text">Password:
    <input type="password" class="form-control" name="password" id="password"/></label>
    <label for="phone" class="text">Phone:
    <input type="text" class="form-control input-medium bfh-phone" data-format="+1 (ddd) ddd-dddd" name="phone" id="phone"/></label>
    <input type="submit" value="Login" id="submit">
  </fieldset>
</form>
{% endblock %}

<footer>
  <p>Copyright &copy; Colleen van Lent from the University of Michigan<br/>
  <a href="http://collemc.people.si.umich.edu">School of Information</a>.</p>
</footer>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="static/bootstrap.min.js"></script>
  <script src="static/bootstrap-formhelpers.min.js"></script>

</body>
</html>
